<div class="widget-area no-padding blank">
  <div class="status-upload">
    <%= form_for [object, @comment], html: {class: "form-horizontal"}, remote: true do |f| %>
      <%= f.text_area :body, placeholder: "请说说你的想法" %>
      <!-- <ul> -->
      <!--   <li><a title="" data&#45;toggle="tooltip" data&#45;placement="bottom" data&#45;original&#45;title="Audio"><i class="fa fa&#45;music"></i></a></li> -->
      <!--   <li><a title="" data&#45;toggle="tooltip" data&#45;placement="bottom" data&#45;original&#45;title="Video"><i class="fa fa&#45;video&#45;camera"></i></a></li> -->
      <!--   <li><a title="" data&#45;toggle="tooltip" data&#45;placement="bottom" data&#45;original&#45;title="Sound Record"><i class="fa fa&#45;microphone"></i></a></li> -->
      <!--   <li><a title="" data&#45;toggle="tooltip" data&#45;placement="bottom" data&#45;original&#45;title="Picture"><i class="fa fa&#45;picture&#45;o"></i></a></li> -->
      <!-- </ul> -->
      <button type="submit" class="btn btn-success green" data-disable-with="正在提交">回复</button>
    <% end %>
  </div><!-- Status Upload  -->
</div><!-- Widget Area -->

<div class="clearfix"></div>
