<section class="editor" style="margin-top: 30px;">
    <section style="border-style: none; width: 320px; clear: both; overflow: hidden;margin: 0 auto;">
        <section style="width: 100%; float: left; padding: 0 0.1em 0 0;">
            <img style="width: 295px; height: auto !important;" src="/finger_wechat.gif" width="295" height="190"/>
            <section style="padding:0.1em 1em;float: left;font-size: 13px; margin-top: -10.2em;margin-left:0.2em;text-align: center; color: #fff; opacity: 0.95; background-color: abg(255,255,255);">
                <section style="display:inline-block;width: 125px;height: 125px;">
                    <img src="https://www.rails365.net/assets/weixin_qr-5ff3dc0f89cb07a568d2d91b6e00a10c4be0f76fa353f91972798cabee3c790b.jpg" width="" height="" style="width: 125px; height: 125px;" border="0" vspace="0" title="" alt=""/>
                </section>
            </section>
        </section>
    </section>
</section>
<p>
    <br/>
</p>
