<div class="card">
  <div>

    <%= render 'nav_bars' %>

    <!-- Tab panes -->
    <div class="tab-content admin-tab-content pt30">
      <div role="tabpanel" class="tab-pane active show">
        <div>
          <% @favourite_articles.each do |article| %>
            <%= render partial: 'articles/article', locals: { article: article } %>
          <% end %>
        </div>
        <div class="text-center">
          <%= paginate @favourite_articles %>
        </div>
      </div>
    </div>

  </div>
</div>
