<div class="card">
  <div>

    <!-- Nav tabs -->
    <ul class="nav tabs-admin" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link active" href="<%= user_path(@user) %>" >我的收藏</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link" href="<%= articles_user_path(@user) %>" >发表的文章</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content admin-tab-content pt30">
      <div role="tabpanel" class="tab-pane active show">
        <% @favourite_movies.each do |movie| %>
          <%= render partial: 'movies/movie', locals: { movie: movie } %>
        <% end %>
      </div>
    </div>

  </div>
</div>
