<div class="card">
  <div>

    <!-- Nav tabs -->
    <ul class="nav tabs-admin" role="tablist">
      <li role="presentation" class="nav-item"><a class="nav-link" href="<%= user_path(@user) %>">喜欢</a></li>
      <li role="presentation" class="nav-item"><a class="nav-link active" href="<%= articles_user_path(@user) %>">发表的文章</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content admin-tab-content pt30">
      <div role="tabpanel" class="tab-pane active show">
        <div>
          <% @articles.each do |article| %>
            <%= render partial: 'articles/article', locals: { article: article } %>
          <% end %>
        </div>
        <div class="text-center">
          <%= paginate @articles %>
        </div>
      </div>
    </div>

  </div>
</div>
