<div class="white-bg">
  <div class="page-header">
    <h4 class="text-center text-primary title-header">关于我们</h4>
  </div>

  <div class="content">
    <p>rails365编程学院 是一家分享精品编程技术文章和视频教程的网站，我们紧跟技术发展，重视初学者，分享涵盖前后，后端，服务器等内容的文章和视频教程，内容包括：webpack，react，angular，vue，redis，nginx，docker，postgresql，ruby，php，javascript，html，css等，以及计算机领域的其他前沿技术，系统架构等方面。我们重视问题本身的解决，而不是学院派和纯理论的讲解。</p>

    <p>rails365编程学院 网站创办于 2015 年 9 月，最开始由 <%= link_to 'hfpp2012', user_path(1) %> 使用 ruby on rails 框架编写而成，经过几年的改进而优化，从而形成了越来越受欢迎的技术平台，网站保持高更新频率，网站的所有文章皆为原创，原创的视频都是自己亲手录制，都是对自己在工作中和行业内的经验总结。 </p>

    <p><%= link_to 'hfpp2012', user_path(1) %> 热爱技术，喜欢分享，对技术有疯魔一般地狂热，喜欢收集各种技术资源，进行整理后分享给大家。</p>

    <p>在这里将能学到最新，最火，最有用的前沿技术，在这里也更加重视初学者，在这里也能学到最好的编程经验。</p>

    <p>本站源码：<%= link_to "https://github.com/hfpp2012/rails365", "https://github.com/hfpp2012/rails365" %></p>
  </div>
</div>
