secret_key_base: "c9906c7a2375a8f9d503f9195359b787db599b9f3ec38f0dfb2228b9e9f52f83168bcc2f5f93a8acb60add8937d7f11bb24c788c014d3494bd83ab934801e8b4"
USERNAME: "hfpp2012"
PASSWORD: '12345678'
# http basic auth secret token
REALM: '12345678'
aliyun_access_id: 'your access id'
aliyun_access_key: 'your access key'
aliyun_bucket: 'your bucket name'
# bucket的位置
aliyun_area: "cn-shenzhen"
# 设置阿里云自定义域名
aliyun_host: "http://aliyun.rails365.net"
oneapm_license_key: "your oneapm license key"
sidekiq_namespace: "sidekiq"
meta_description: "本站致力于分享nginx, ruby on rails, 运维, 服务器部署, 架构, 搜索技术, postgresql, redis, 日志, 多线程, 消息队列, vim, git, 前端javascript等优秀文章"
meta_keyword: "nginx, nginx php, nginx apache, nginx server, nginx ubuntu, nginx proxy, install nginx, nginx ssl, nginx 配置, nginx 重启, nginx 配置均衡, nginx 安装, nginx tomcat, nginx windows, nginx官网, nginx下载"
