$navbar-border-radius: none;
$navbar-height: 60px;
@import "bootstrap-sprockets";
@import "bootswatch/cerulean/variables";
@import "bootstrap";
@import "rouge";
@import "fluidbox.min";
@import "bootstrap-markdown";
@import "toastr.min";
@import "social-share-button";
@import "sweetalert";

$c3:#333;
$c6:#666;
$c9:#999;

body {
  font-size: 14px;
  font-family: 微软雅黑, "Open Sans", sans-serif;
  background: #f5f5f5;
}

// a {
//   color: #555;
// }

.article-body {
  background: #fff;
  padding: 20px;
  margin-left: -20px;
}

.video-block {
  video {
    width: 100%;
  }
}

.my-title {
  font-weight: 400;
  line-height: 2.4rem;
  color: rgb(17, 17, 17);
  font-size: 18px;
}

.navbar {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar-brand>img {
  height: 100%;
}

.error-wrap{
  border-top: 1px solid #efefef;
  padding: 20px 0;
  .container{
    padding: 130px 0;
    border: 1px solid #efefef;
    background-color: #fff;
  }
}

.error-box{
  width: 460px;
  margin: 0 auto;
  strong{
    font-size: 72px;
    line-height: 1;
  }
  p{
    color: $c6;
    font-weight: bold;

    margin:10px 0 20px;
  }
  li{
    color: $c9;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.error-500{
  strong{
    color: #04adf0;
  }
}

.error-404{
  strong{
    color: #858585;

  }
  em{
    color: #e74141;
  }
  span{
    display: block;
    color: $c6;
  }
  .return{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ececec;
  }
}

.form-horizontal {
  .control-label {
    padding-top: 0;
  }
}

#cnzz_stat_icon_1256226713 {
  display: none;
}

#content {
  padding-bottom: 60px;
}

.block-margin {
  margin-bottom: 15px;
}

.search-hight-light {
  em {
    color: red;
    font-style: normal;
  }
}

.navbar {
  margin-bottom: 0;
}

.markdown_header {
  text-align: left;
  line-height: 100%;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
  color: #020202;
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.article_content {
  background: #fff;
  h4 {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  h2 {
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  h5 {
    margin-top: 30px;
    font-size: 15px;
  }
  p {
    line-height: 35px;
  }
  img {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ul {
    li {
      margin: 15px 0 15px 0;
    }
  }
  blockquote {
    padding: 10px 10px;
    margin: 0 0 10px;
    font-size: 14px;
    border-left: 5px solid #eeeeee;
  }
}

.pt15 {
  padding-top: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.group-image {
  margin-bottom: 10px;
  img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}

.header-group {
  margin: 0 0 10.5px;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.pb0 {
  padding-bottom: 0;
}

.mb10 {
  margin-bottom: 10px;
}

.home-p {
  margin-bottom: 20px;
}

pre.highlight {
  @media (max-width: 768px) {
    max-height: 250px;
  }
  code {
    white-space: pre;
    word-wrap: normal;
    min-width: 100%;
    overflow-x: auto;
  }
}

.article-title {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.book-title {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.home-article-title {
  margin-top: 5px;
  margin-bottom: 4px;
}

.article-desc {
  font-size: 13px;
  color: #777;
  font-weight: 400;
  a {
    &:hover {
      text-decoration: none;
      color: #e8092f;
    }
  }
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

footer p {
  clear: left;
  margin-bottom: 0;
}

.avatar-image {
  display: inline-block;
  margin-right: 15px;
  img {
    border-radius: 50%;
  }
}

.radis50 {
  border-radius: 50%;
}

.text-muted {
  a {
    color: #bbb;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.box-article {
  &:last-child {
    margin-bottom: 5px;
  }
}

.title-header {
  color: rgb(17, 17, 17);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
}

.media-list {
  padding-left: 0;
  list-style: none;
  .media {
    overflow: hidden;
    zoom: 1;
    padding: 5px 20px;
    border-bottom: 1px solid #eaeaea;
    &:first-child {
      margin-top: 0;
    }
    >.pull-left {
      margin-right: 10px;
    }
    .media-object {
      width: 50px;
      display: block;
    }
    .media-body {
      overflow: hidden;
      zoom: 1;
    }
  }
}

.media-heading {
  margin: 0 0 5px;
}

.comments {
  margin-top: 30px;
}

.widget-area.blank {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

body .no-padding {
  padding: 0;
}
.widget-area {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
  float: left;
  margin-top: 30px;
  padding: 25px 30px;
  position: relative;
  width: 100%;
}


.widget-area form textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  font-family: Lato;
  font-size: 14px;
  height: 142px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  border: 1px solid #F2F2F2;
}

.widget-area ul {
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 0 0 15px;
  width: auto;
}
.widget-area ul > li {
  float: left;
}
.widget-area ul > li > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #777777;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin: 10px 0 10px 10px;
  text-align: center;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  width: 30px;
  cursor: pointer;
}
.widget-area ul > li > a:hover {
  background: none repeat scroll 0 0 #606060;
  color: #fff;
}
.widget-area form button {
  border: medium none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-family: Lato;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-top: 9px;
  padding: 6px 15px;
}
.dropdown > a > span.green:before {
  border-left-color: #2dcb73;
}
.widget-area form button > i {
  margin-right: 7px;
}

.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}

.comments {
  .total {
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    padding-bottom: 12px;
    padding: 15px 22px;
    padding-left: 0;
  }
}

.page-header {
  margin: 20px 0 20px;
}

.navbar-brand {
  padding: 0;
}

.home-video {
  @media (max-width: 768px) {
    text-align: center;
  }

  p {
    @media (max-width: 768px) {
      text-align: center;
    }
    text-align: left;
  }

  .video-box {
    margin-right: 4px;
    display: inline-block;
    margin-bottom: 10px;

    img {
      width: 210px;
      height: 118px;
    }

    .title {
      cursor: pointer;
      text-decoration: none;
      margin-top: 10px;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.6rem;
    }

    .time {
      color: #999999;
      font-size: 13px;
    }
  }
}

