$navbar-border-radius: none;
@import "bootstrap-sprockets";
@import "bootswatch/cerulean/variables";
@import "bootstrap";
@import "rouge";
@import "fluidbox.min";

$c3:#333;
$c6:#666;
$c9:#999;

.error-wrap{
  border-top: 1px solid #efefef;
  padding: 20px 0;
  .container{
    padding: 130px 0;
    border: 1px solid #efefef;
    background-color: #fff;
  }
}

.error-box{
  width: 460px;
  margin: 0 auto;
  strong{
    font-size: 72px;
    line-height: 1;
  }
  p{
    color: $c6;
    font-weight: bold;

    margin:10px 0 20px;
  }
  li{
    color: $c9;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.error-500{
  strong{
    color: #04adf0;
  }
}

.error-404{
  strong{
    color: #858585;

  }
  em{
    color: #e74141;
  }
  span{
    display: block;
    color: $c6;
  }
  .return{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ececec;
  }
}

.form-horizontal {
  .control-label {
    padding-top: 0;
  }
}

#cnzz_stat_icon_1256226713 {
  display: none;
}

#content {
  padding-bottom: 60px;
}

.block-margin {
  margin-bottom: 15px;
}

.search-hight-light {
  span {
    color: red;
  }
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.nav-justified > li.footer-list > a, .nav-tabs.nav-justified > li.footer-list > a {
  color: #ddd;
  background-color: #2FA4E7;
}

/* 底部 */
.footer-navbar {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

.markdown_header {
  text-align: left;
  line-height: 100%;
  margin: 0;
  color: #020202;
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.pt15 {
  padding-top: 15px;
}

.group-image {
  margin-bottom: 10px;
  img {
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
  }
}

.header-group {
  margin: 0 0 10.5px;
  font-size: 15px;
  color: #3399F3;
}

.mr10 {
  margin-right: 10px;
}
